@page "/"

<PageTitle>Index</PageTitle>


<!-- Page body -->
<div class="page-body">
    <div class="container-xl">
        <div class="row row-cards mb-3">
            <div class="col-xl-8 col-md-6 col-sm-12">
                <div class="row row-cards ">

                    <div class="row g-2 align-items-center">
                        <div class="col">
                            <!-- Page pre-title -->
                            <div class="page-pretitle">
                                Overall
                            </div>
                            <h2 class="page-title">
                                Dashboard
                            </h2>
                        </div>
                    </div>

                    <div class="col-4">
                        <BoxComponent Title="Total mangas" SubTitle="150" />
                    </div>
                    <div class="col-4">
                        <BoxComponent Title="Total episodes" SubTitle="650" />
                    </div>
                    <div class="col-4">
                        <BoxComponent Title="Total pages" SubTitle="Test" />
                    </div>
                    <div class="col-4">
                        <BoxComponent Title="New mangas today" SubTitle="" />
                    </div>
                    <div class="col-4">
                        <BoxComponent Title="New episodes today" SubTitle="6" />
                    </div>
                    <div class="col-4">
                        <BoxComponent Title="New pages today" SubTitle="196" />
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="row row-cards ">

                    <div class="row g-2 align-items-center">
                        <div class="col">
                            <!-- Page pre-title -->
                            <div class="page-pretitle">
                                Notifications
                            </div>
                            <h2 class="page-title">
                                Latest notificatons
                            </h2>
                        </div>
                        <div class="col-12 col-md-auto ms-auto d-print-none">
                            <div class="btn-list">
                                <a href="#" class="btn btn-outline-dark d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-report">
                                    <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-external-link" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path d="M11 7h-5a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-5" />
                                        <line x1="10" y1="14" x2="20" y2="4" />
                                        <polyline points="15 4 20 4 20 9" />
                                    </svg>
                                    View all notifications
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="card" style="height: 14.2rem">
                            <div class="card-body card-body-scrollable card-body-scrollable-shadow">
                                <div class="divide-y">
                                    <div>
                                        <div class="row">
                                            <div class="col-auto">
                                                <span class="avatar">JL</span>
                                            </div>
                                            <div class="col">
                                                <div class="text-truncate">
                                                    <strong>Jeffie Lewzey</strong> commented on your <strong>"I'm not a witch."</strong> post.
                                                </div>
                                                <div class="text-muted">yesterday</div>
                                            </div>
                                            <div class="col-auto align-self-center">
                                                <div class="badge bg-primary"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-cards">
            <div class="col-12">
                <div class="row row-cards mb-3">
                    <div class="row g-2 align-items-center">
                        <div class="col">
                            <!-- Page pre-title -->
                            <div class="page-pretitle">
                                Mangas
                            </div>
                            <h2 class="page-title">
                                Latest processed
                            </h2>
                        </div>
                        <div class="col-12 col-md-auto ms-auto d-print-none">
                            <div class="btn-list">
                                <a href="/library" class="btn btn-outline-dark d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-report">
                                    <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-external-link" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path d="M11 7h-5a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-5" />
                                        <line x1="10" y1="14" x2="20" y2="4" />
                                        <polyline points="15 4 20 4 20 9" />
                                    </svg>
                                    View latest processed
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-6">
                        <CardComponent />
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-6">
                        <CardComponent Image="https://avt.mkklcdnv6temp.com/12/b/24-1620363350.jpg" Title="I'm a Middle-Aged Man Who Got My Adventurer License Revoked" />
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-6">
                        <CardComponent Image="https://avt.mkklcdnv6temp.com/12/b/24-1620363350.jpg" Title="A Story About a Dragon and the Rising of an Adventurer" />
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-6">
                        <CardComponent />
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-6">
                        <CardComponent />
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-6">
                        <CardComponent Image="https://avt.mkklcdnv6temp.com/12/b/24-1620363350.jpg" Title="Ryuu Kusari no Ori -Kokoro no Uchi no Kokoro-" />
                    </div>

                </div>
            </div>
        </div>

        <div class="row row-cards">
            <div class="col-12">
                <div class="row row-cards mb-3">
                    <div class="row g-2 align-items-center">
                        <div class="col">
                            <!-- Page pre-title -->
                            <div class="page-pretitle">
                                Episodes
                            </div>
                            <h2 class="page-title">
                                Latest added
                            </h2>
                        </div>
                        <div class="col-12 col-md-auto ms-auto d-print-none">
                            <div class="btn-list">
                                <a href="/latest" class="btn btn-outline-dark d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-report">
                                    <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-external-link" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path d="M11 7h-5a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-5" />
                                        <line x1="10" y1="14" x2="20" y2="4" />
                                        <polyline points="15 4 20 4 20 9" />
                                    </svg>
                                    View latest updated
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-4 col-sm-6">
                        <EpisodeComponent />
                    </div>
                    <div class="col-xl-3 col-md-4 col-sm-6">
                        <EpisodeComponent Image="https://avt.mkklcdnv6temp.com/12/b/24-1620363350.jpg" Title="Chapter 15: The Sage's Cave" />
                    </div>
                    <div class="col-xl-3 col-md-4 col-sm-6">
                        <EpisodeComponent Image="https://avt.mkklcdnv6temp.com/12/b/24-1620363350.jpg" Title="A Story About a Dragon and the Rising of an Adventurer" />
                    </div>

                    <div class="col-xl-3 col-md-4 col-sm-6">
                        <EpisodeComponent Image="https://avt.mkklcdnv6temp.com/12/b/24-1620363350.jpg" Title="Ryuu Kusari no Ori -Kokoro no Uchi no Kokoro-" />
                    </div>

                </div>
            </div>
        </div>


        <div class="row row-cards">
            <div class="col-12">
                <div class="row row-cards mb-3">
                    <div class="row g-2 align-items-center">
                        <div class="col">
                            <!-- Page pre-title -->
                            <div class="page-pretitle">
                                Mangas
                            </div>
                            <h2 class="page-title">
                                Library
                            </h2>
                        </div>
                        <div class="col-12 col-md-auto ms-auto d-print-none">
                            <div class="btn-list">
                                <a href="#" class="btn btn-outline-dark d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-report">
                                    <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-external-link" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path d="M11 7h-5a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-5" />
                                        <line x1="10" y1="14" x2="20" y2="4" />
                                        <polyline points="15 4 20 4 20 9" />
                                    </svg>
                                    View all library
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card">
                            <div class="card-table table-responsive">
                                <table class="table table-vcenter">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Authors</th>
                                            <th>Genres</th>
                                            <th>Added</th>
                                            <th>Updated</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                Isekai de Cheat Skill wo te ni Shita ore wa, Genjitsu Sekai wo mo Musou Suru ~Level Up wa Jinsei wo Kaeta~
                                                <a href="#" class="ms-1" aria-label="Open website">
                                                    <!-- Download SVG icon from http://tabler-icons.io/i/link -->
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M10 14a3.5 3.5 0 0 0 5 0l4 -4a3.5 3.5 0 0 0 -5 -5l-.5 .5"></path><path d="M14 10a3.5 3.5 0 0 0 -5 0l-4 4a3.5 3.5 0 0 0 5 5l.5 -.5"></path></svg>
                                                </a>

                                            </td>
                                            <td class="text-muted">Minatogawa Kazuomi, Miku</td>
                                            <td class="text-muted">Action, Adventure, Fantasy</td>
                                            <td class="text-muted">2022-09-26 20:55:42</td>
                                            <td class="text-muted">2022-09-26 20:58:30</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>

