<footer class="footer footer-transparent  d-print-none p-2 d-none d-md-inline-block">
    <div class="container-xl">
        <p class="text-center">
            Generated @DateTime.UtcNow UTC · <a href="https://github.com/emimontesdeoca/Toshokan/blob/master/LICENSE" target="_blank" class="link-secondary" rel="noopener">License</a> · <a href="https://github.com/emimontesdeoca/Toshokan" target="_blank" class="link-secondary" rel="noopener">Source code</a>
        </p>
    </div>
</footer>