<footer class="footer footer-transparent d-print-none">
    <div class="container-xl">
        <div class="row text-center align-items-center flex-row-reverse">
            <div class="col-lg-auto ms-lg-auto">
                <ul class="list-inline list-inline-dots mb-0">
                    <li class="list-inline-item"><a href="https://github.com/emimontesdeoca/Toshokan/blob/master/LICENSE" target="_blank" class="link-secondary" rel="noopener">License</a></li>
                    <li class="list-inline-item"><a href="https://github.com/emimontesdeoca/Toshokan" target="_blank" class="link-secondary" rel="noopener">Source code</a></li>
                </ul>
            </div>
            <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                <ul class="list-inline list-inline-dots mb-0">
                    <li class="list-inline-item">
                        Copyright © 2022
                        <a href="." class="link-secondary">Toshokan</a>.
                        All rights reserved.
                    </li>
                    <li class="list-inline-item">
                        Generated 2022-09-24 09:54 UTC
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>