@inherits LayoutComponentBase

<PageTitle>Toshokon</PageTitle>

<div class="page-wrapper">
    <!-- Navbar -->
    <Header />

    <div class="page-wrapper">
        @Body
        <Footer />
    </div>

</div>