.card-manga-ratio {
    height: 150px !important;
    min-height: 150px !important;
    max-height: 150px !important;
}

.episode-manga-ratio {
    height: 190px !important;
    min-height: 190px !important;
    max-height: 190px !important;
}


.modal-blur {
    background-color: rgba(0, 0, 0, 0.15) !important;
}

.manga-page {
    max-height: Calc(75vh + 30px)
}

*:focus-visible {
    outline: none !important;
}

